
.header{
    display: flex;
    justify-content: space-around ;
    background-color: black;
}
.ballon_dor{
    width: 100px;
    height: 100px;
    align-self: center;

}
.input{
    border: 4px solid ;
    border-color:rgba(184, 134, 11, 1);
    height: 40px ;
    align-self: center;
    font-size: larger;
    border-radius: 5px ;
    padding-left: 10px;
}
.title{
    font-size: 50px;
    color:rgba(184, 134, 11, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;

}
.line_up{
    text-align: center;
    margin: 5px;
    font-size: 30p;
}
.container{
    display: flex;
    margin-top: 10px;
}
.container1{
    background-image: url('stadium_background.png');
    background-size: cover;
    background-position: center; 
    padding: 20px;
    height: auto;
    text-align: center;
    width: 60%;
}
.ligne {
    display: flex;
    justify-content: center;
    gap: 50px;    
}
.card{
    background-image: url('Screenshot_2024-11-25_123146-removebg-preview.png');
    background-size: cover;
    width: 150px; 
    height: 200px;
    color: aliceblue;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.goelkeeper{
    display: flex;
    justify-content: center;
}

.container2 {
    background-color: black ;
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    width: 100%;
    padding-left: 30px;
}

.line_up {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    letter-spacing: 1px;
    color: rgba(184, 134, 11, 1);
}
.container2 h3{
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 3rem;
}
.container2 h4{
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.container2 div {
    margin-bottom: 7rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

select {
    width: 95%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 3px solid rgba(184, 134, 11, 1);
    border-radius: 5px;
    background-color: #fff;
    color: #333;  
}
@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
   
}
